* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("./proximanova_regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova Light";
    src: url("./proximanova_light.otf") format("opentype");
    font-display: swap;
}

body {
    font-family: "Proxima Nova", Inter, system-ui, Avenir, Helvetica, Arial,
        sans-serif;
    color: #fff;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    nav {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background: #11151d;
        height: 80px;

        a {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 10px 0;
            border-top: 4px solid transparent;

            button {
                width: 100%;
                border: none;
                background: none;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                gap: 20px;
                color: #fff;
            }
        }

        a.active {
            border-top: 4px solid #e0ecff;
        }
    }

    .content {
        height: calc(100vh - 80px);
        background: linear-gradient(#0f0c29, #302b63, #24243e);

        .map-container {
            overflow: hidden;
            height: calc(100vh - 80px);
        }

        .insideDiv {
            display: flex;
            flex-direction: column;

            h2 {
                text-align: center;
                padding: 10px 0;
            }

            .arrival-list {
                height: calc(100vh - 185px);
                overflow-y: scroll;

                .arrival-item {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    align-items: center;
                    border-bottom: 1px white solid;
                    text-align: center;

                    h2 {
                        padding: 10px;
                    }

                    p {
                        padding: 10px;
                    }
                }

                .arrival-item:last-child {
                    border-bottom: none;
                }
            }

            .lpp-arrival-item {
                display: grid;
                grid-template-columns: 3fr 1fr 1fr !important;
                padding: 10px;

                .left {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    .circle {
                        padding: 20px;
                        border-radius: 50%;
                        height: 4rem;
                        width: 4rem;
                        background-color: rgba(128, 128, 128, 0.377);
                        font-size: 1.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            .station-list {
                display: flex;
                flex-direction: column;
                gap: 10px;
                max-height: calc(100vh - 190px);
                overflow-y: auto;
                margin-top: 10px;

                .station-item {
                    padding: 10px;
                    border-bottom: 1px white solid;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 12px;
                }
            }

            input {
                width: 100%;
                border-radius: 0;
                height: 3rem;
                outline: none;
                border: none;
                padding: 10px;
                background: #2626335d;
            }
        }

        .route {
            .data {
                background: #2626335d;
                padding: 14px 16px;
                text-align: center;
            }

            .stops {
                ul {
                    list-style: none;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    max-height: calc(100vh - 190px);
                    overflow-y: auto;

                    li {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 1px solid white;
                        padding: 10px 5px 10px 10px;

                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .container {
        nav {
            a {
                button {
                    display: block;
                    font-size: 0.7em;
                }
            }
        }

        .insideDiv .arrival-list .arrival-item {
            font-size: 0.8em;
        }
    }
}

.maplibregl-popup-content {
    background-color: #262633 !important;
    color: var(--text) !important;
    border: 1px solid #262633;
    max-width: none;
    width: fit-content;
}
.maplibregl-popup-tip {
    border-top-color: #262633 !important;
    border-bottom-color: #262633 !important;
}
.maplibregl-popup-content h3 {
    font-size: 15px;
    margin: 8px 0 6px;
}
.maplibregl-popup-content button,
.maplibregl-popup-content .popup-button {
    background: none;
    color: #fff;
    border: 1px #fff solid;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
}
